.dropdownHeader {
  height: 50px;
  flex: 1;
  padding-left: 10px;
  background-color: rgb(6, 39, 61);
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--lightred);
  justify-content: space-between;
  cursor: pointer;
  margin-top: 15px;
}
.dropdownBox {
  width: 100%;
}
.downIcon {
  font-size: 25px;
  margin-right: 10px;
  font-weight: normal;
}
.dropdownContent {
  margin-top: 10px;
  height: 0px;
  width: auto;
  background-color: rgb(7, 20, 32);
  color: var(--normaltext);
  text-size-adjust: none;
  opacity: 0;
  transition: 0.5s;
}

.dropdownShow {
  margin-top: 0px;
  height: fit-content;
  text-size-adjust: none;
  opacity: 1;
  transition: 0.5s;
}
.dropDownText {
  padding: 10px;
}
