.mybutton {
  height: 45px;
  width: fit-content;
  background: rgb(0, 26, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 26, 255, 1) 0%,
    rgba(50, 120, 159, 1) 100%
  );
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.mybutton:hover .loginIcon {
  scale: 1.2;
  transition: 0.2s;
}
.mybutton:hover {
  background: rgb(0, 26, 255);
  background: linear-gradient(90deg, rgb(5, 19, 142) 0%, rgb(12, 66, 95) 100%);
  transition: 0.2s;
}
.loginIcon {
  height: 30px;
  transition: 0.2s;
}
.userImage {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
