.mybutton {
  height: 45px;
  width: fit-content;
  background: rgb(0, 26, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 26, 255, 1) 0%,
    rgba(50, 120, 159, 1) 100%
  );
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.mybutton:hover .loginIcon {
  scale: 1.2;
  transition: 0.2s;
}
.mybutton:hover {
  background: rgb(0, 26, 255);
  background: linear-gradient(90deg, rgb(5, 19, 142) 0%, rgb(12, 66, 95) 100%);
  transition: 0.2s;
}
.loginIcon {
  height: 30px;
  transition: 0.2s;
}
.userImage {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* //dialog  */
.userDialog {
  background-color: black;
  border-radius: 20px;
}
.dialog-close {
  align-self: flex-end;
  color: var(--lightred);
  font-size: 30px;
  cursor: pointer;
}
.dialogHeader {
  display: flex;
  color: white;
  gap: 20px;
}
.dialogContainner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dialogOptions {
  color: var(--normaltext);
  padding: 10px;
  background-color: rgb(10, 40, 68);
  border-radius: 5px;
}
.dialogOptions:hover {
  background-color: rgb(15, 72, 126);
  transition: 0.2s;
}
