@media screen and (max-width: 800px) {
  .statMainPage {
    height: auto;
    padding: 100px 0 60px 0;
  }

  .statMainPage .rowflex {
    flex-direction: column;
    gap: 3rem;
  }

  .clockImage {
    width: 200px;
    margin: 0;
  }

  .statRightMain {
    padding: 20px;
    width: 100%;
  }

  .statInput {
    max-width: 100% !important;
  }

  .player-containner {
    margin-top: 2rem;
  }
}