:root {
  --backgroundfadeLeft: #1f3e47;
  --backgroundfadeRight: #090515;
  --lightred: #eb5569;
  --lightblue: #32789f;
  --normaltext: #bcbcbc;
  --glass: #d9d9d9;
}
body {
  scroll-behavior: smooth;
  background: rgb(31, 62, 71);
  background: linear-gradient(
    90deg,
    rgba(31, 62, 71, 1) 0%,
    rgba(9, 5, 21, 1) 100%
  );
  overflow-x: hidden;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
}
.main {
  width: 80%;
  max-width: 1200px;
  height: auto;
  min-height: 100vh;
}
.main2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  height: calc(100vh - 70px);
  margin-top: 70px;
}
.map {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
hr {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  border-color: #d8d8d825;
}
.scrollToTop {
  background-color: var(--lightred);
  padding: 10px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 50, 0.744) 0px 0px 20px;
  color: white;
  display: flex;
  position: fixed;
  right: 25px;
  bottom: 0px;
  cursor: pointer;
  transition: 0.3s;
  visibility: hidden;
  z-index: 100;
}
.showScrollToTop {
  bottom: 20px;
  visibility: visible;
  transition: 0.3s;
}
.scrollToTop:hover {
  scale: 1.8;
  padding-top: 0px;
  transition: 0.3s;
}
.textjustify {
  text-align: justify;
}
.textcenter {
  text-align: center;
}
.rowflex {
  display: flex;
  flex-direction: row;
  transition: 0.5s;
}
.columnflex {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.redtext {
  color: var(--lightred);
}
.whitetext {
  color: white;
}
.bluetext {
  color: #ebebeb;
}
.normaltext {
  color: var(--normaltext);
  font-size: 18px;
  line-height: 30px;
}

.break {
  flex-basis: 100%;
  height: 0;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.creeperLoading {
  height: 200px;
  width: 200px;
  justify-self: center;
}
.loadingContainner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .main {
    width: 90%;
  }
  .main2 {
    width: 95%;
  }
}
